/** =================================
Base font settings
================================= **/

$body-font: BentonSans, Helvetica, Roboto, Arial, sans-serif;
$headline-font: BentonSansBold, Helvetica, Roboto, Arial, sans-serif;
$pre-font: Courier, monospace;

